<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>1</ADDirectoryAccessLevel>
    <ADDomain>intilaq.tn</ADDomain>
    <ADUsesOwinOrOpenIdConnect>True</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://intilaqcalendar.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>intilaqcalendar.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>intilaqcalendar</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$intilaqcalendar</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:qldyc8g0aj.database.windows.net,1433;Initial Catalog=intilaqcalendar_db;User ID=houssem@qldyc8g0aj;Password=@hd04061989" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IntilaQ.Calendar.Services.Models.ApplicationDbContext, IntilaQ.Calendar.Services" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EventsContext" Order="2" Enabled="True" xmlns="">
          <Destination Path="Data Source=tcp:qldyc8g0aj.database.windows.net,1433;Initial Catalog=intilaqcalendar_db;User ID=houssem@qldyc8g0aj;Password=@hd04061989" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="IntilaQ.Calendar.Services.Models.EventsContext, IntilaQ.Calendar.Services" MigrationConfiguration="IntilaQ.Calendar.Services.Migrations.Configuration, IntilaQ.Calendar.Services" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://intilaq.tn/WebApp-intilaqcalendar.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>2f755483-27ee-4c24-9bbb-a7b022012a07</ADClientAPPID>
    <ADClientPassword>3/tjv4ipuD9IWl8O8dOD4W05Xolo1FrhqrqSFfeeH/o=</ADClientPassword>
    <ADReplyUrl>https://intilaqcalendar.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>d0dbe91e-d371-423e-9ab8-55977ffe9ef5</ADTenantId>
    <ADPostLogoutRedirectUri>https://intilaqcalendar.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:qldyc8g0aj.database.windows.net,1433;Initial Catalog=intilaqcalendar_db;User ID=houssem@qldyc8g0aj;Password=@hd04061989</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EventsContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:qldyc8g0aj.database.windows.net,1433;Initial Catalog=intilaqcalendar_db;User ID=houssem@qldyc8g0aj;Password=@hd04061989</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>